body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div {
  background-color: rgb(235, 235, 235);
  width: 9rem;
  height: 12rem;
  border-radius: 5px;
  border: 2px solid rgb(150, 150, 150);

  &:hover {
    cursor: pointer;
    border: 2px solid rgb(66, 134, 245);
  }
}

label {
  font-size: 0.9rem;
  font-family: Verdana, serif;
  font-weight: bold;
  color: rgb(200, 200, 200);
  margin-left: 5px;
}

p {
  font-size: 0.5rem;
  margin-left: 0.2rem;
}
