html, body {
  margin: 0;
  height: 100%
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(15, 15, 15);
}

::-webkit-scrollbar-thumb {
  background: rgb(55, 55, 55);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 66, 66);
}
